:root {
    /* shades */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 75%);
    --gray: hsl(0, 0%, 50%);
    --dark-gray: hsl(0, 0%, 25%);
    --black: hsl(0, 0%, 0%);

    --red: hsla(0, 100%, 50%, .7);

    /* Bg */
    --header-bg: hsla(0, 0%, 25%, .90);
    --empty-state-bg: hsla(0, 0%, 5%, .65);
    --loader-bg: hsla(0, 0%, 5%, .95);
    --main-bg: hsla(0, 0%, 0%, .45);
    
    /* border */
    --border-item: hsla(0, 0%, 95%, .2);

    /* Toggle btn */
    --toggle-bg-off: hsla(0, 0%, 30%, .9);
    --toggle-bg-on: hsla(174, 72%, 56%, .9);

    --text-xs: 0.75rem;    /* 12px */
    --text-sm: 0.875rem;   /* 14px */
    --text-base: 1rem;     /* 16px */
    --text-lg: 1.125rem;   /* 18px */
    --text-xl: 1.25rem;    /* 20px */
    --text-2xl: 1.5rem;    /* 24px */
    --text-3xl: 2rem;      /* 32px */

    --space-1: 0.25rem;   /* 4px */
    --space-2: 0.5rem;    /* 8px */
    --space-3: 0.75rem;   /* 12px */
    --space-4: 1rem;      /* 16px */
    --space-5: 1.5rem;    /* 24px */

    --blur: blur(6px);
}
@font-face {
    font-family: 'Geist_Pixel';
    src: url('../assets/fonts/GeistPixel-Regular-VariableFont_ELSH.ttf') format('truetype');
}
@font-face {
    font-family: 'Pixelify_Sans';
    src: url('../assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3 {
    font-family: 'Geist_Pixel';
}
body {
    position: relative;
    font-family: 'Pixelify_Sans';

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 6.5fr 3.5fr;
    grid-template-rows: 100px 1fr;

    background: url('../assets/images/default-bg.webp') no-repeat center / cover;

    transition: background .3s ease-in-out;
}
header {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}
main {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
